<div class="message_modal_wrapper"></div>
<div class="message_modal">
  <div class="message-modal-header">
    <span class=header-from><i class="far fa-envelope"></i> From</span> :<span>   user1</span>
    <!-- <span class=header-to>To</span>:<span>   user2</span> -->
  </div>
    <div class="modal-body">
      <div class="ui form">
        <div class="field">
          <label class="message-label">本文</label>
          <textarea></textarea>
        </div>
        <div class="field">
          <label class="message-label">短いテキスト</label>
          <textarea rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="ui orange button">送信</button>
    </div>
</div>
