<div class="modal_wrapper"></div>
<div class="message-modal">
  <div class="modal-header">メッセージ</div>
    <div class="modal-body">
      <div class="ui form">
        <div class="field">
          <label>Text</label>
          <textarea></textarea>
        </div>
        <div class="field">
          <label>短いテキスト</label>
          <textarea rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="ui blue button">検索</button>
    </div>
</div>
