<div class="modal_wrapper"></div>
<div class="modal">
  <div class="modal-header">都道府県で絞り込む</div>
    <div class="modal-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>北海道</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>北海道</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>東北</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>青森県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>岩手県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>宮城県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>秋田県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>山形県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>福島県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>関東</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>東京都</label>
                </li>
                <li>
                  <input type="checkbox"> <label>神奈川県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>埼玉県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>千葉県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>群馬県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>茨城県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>栃木県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>甲信越</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>新潟県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>山梨県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>長野県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>北陸</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>富山県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>石川県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>福井県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>東海</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>岐阜県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>静岡県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>愛知県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>三重県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>関西</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>大阪府</label>
                </li>
                <li>
                  <input type="checkbox"> <label>京都府</label>
                </li>
                <li>
                  <input type="checkbox"> <label>兵庫県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>滋賀県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>奈良県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>和歌山県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>中国</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>鳥取県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>島根県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>岡山県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>広島県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>山口県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>四国</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>徳島県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>香川県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>愛媛県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>高知県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>九州</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>福岡県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>佐賀県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>長崎県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>熊本県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>大分県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>宮崎県</label>
                </li>
                <li>
                  <input type="checkbox"> <label>鹿児島県</label>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>沖縄県</th>
            <td>
              <ul class="list-inline">
                <li>
                  <input type="checkbox"> <label>沖縄県</label>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="ui orange button">検索</button>
    </div>
</div>
