<div class="background">
  <div class="bg-mask">
    <div class="container" id="search-container">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="profile-content col-md-12">
          <div class="right-content col-sm-12 col-md-12">
            <h3 class="profile-title"><%= @cities.name %></h3>
            <div class="profile-info">

              <% @estates.each do |f| %>
              <div class="ui middle aligned divided list" id="result-list">
                <%= link_to estate_path(f.id) do %>
                  <div class="item" id="result-item">
                    <div class="content" id="prefecture-content"> <%= f.name %></div>
                  </div>
                <% end %>
                <div class="item" id="result-list">
                  <div class="right floated content">
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
