<div class="top-page">

<section class="main-visual">
  <div class="main-picture">
    <h1><div class="">好きなときに好きな場所を</div></h1>
  </div>
</section>


<div class="container">
<div class="main-content">








<div class="title"><h2><strong>Pick Up</strong></h2></div>
<div class="ui link cards three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/house1.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/house2.jpg">
      </div>
      <div class="content">
        <a class="header">Helen Troy
</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/house3.jpg">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
  </div>
</div>




<div class="title"><h2><strong>新着物件</strong></h2></div>
<!-- <div class="new_estate"> -->
  <div class="ui link cards ui four column grid">
    <div class="card">
      <div class="image">
        <img src="/house1.jpg">
      </div>
      <div class="content">
        <div class="header">渋谷区</div>
        <div class="date">
          <span class="date_time">2018年7月31日公開</span>
        </div>
        <div class="description">この物件は日当たりが良く洗濯物も良く乾き、2人で住むにも十分な広さになっています。</div>
      </div>
      <div class="extra content">
        <span><i class="user icon"></i> X人がLikeしています</span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/house3.jpg">
      </div>
      <div class="content">
        <div class="header">豊島区</div>
        <div class="date">
          <span class="date_time">2018年7月29日公開</span>
        </div>
        <div class="description">この物件は日当たりが良く洗濯物も良く乾き、2人で住むにも十分な広さになっています。</div>
      </div>
      <div class="extra content">
        <span><i class="user icon"></i> X人がLikeしています</span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/house1.jpg">
      </div>
      <div class="content">
        <div class="header">目黒区</div>
        <div class="date">
          <span class="date_time">2018年7月27日公開</span>
        </div>
        <div class="description">この物件は日当たりが良く洗濯物も良く乾き、2人で住むにも十分な広さになっています。</div>
      </div>
      <div class="extra content">
        <span><i class="user icon"></i> X人がLikeしています</span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/house2.jpg">
      </div>
      <div class="content">
        <div class="header">府中市</div>
        <div class="date">
          <span class="date_time">2018年7月22日公開</span>
        </div>
        <div class="description">この物件は日当たりが良く洗濯物も良く乾き、2人で住むにも十分な広さになっています。</div>
      </div>
      <div class="extra content">
        <span><i class="user icon"></i> X人がLikeしています</span>
      </div>
    </div>
<!--   </div> -->
</div>


    </div>
  </div>
</div>




