/*-----eatate_new-----*/


.eatate_main {
  margin: 40px 0 20px 0;
}

.new-estate-title {
  text-align: center;
  margin-bottom: 0;
}

#form-title {
  color: #ed6103;
}

#picture-field {
  margin: 0 6px 0 7px;
}

.reply-icon {
  font-size: 35px;
  color: #ed6103;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
}

.reply-icon:hover {
  box-shadow: 0 0 4px gray;
}


.new-btn {
  text-align: center;
}


/*-----eatate_show-----*/

.left-content {
  float: left;
}

.swiper-container {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.estate-show-content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

img.first-picture {
  height: 100%;
  width: 100%;
  padding: 5px 0 0 0;
}

.estate-left-content {
  background-color: #fdfafa;
  padding: 10px;
}

.estate-left-content span.date_time {
  font-size: 15px;
  padding-bottom: 10px;
}

.estate-left-content label {
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.2);
  color: #ed6103;
}

.estate-left-content span {
  font-size: 18px;
  display: block;
  padding-bottom: 8px;
}

.estate-right-content {
  background-color: #fdfafa;
  padding: 10px;
}

.estate-right-content label {
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.2);
  color: #ed6103;
}

label.sell-user {
  color: #ed6103;
  margin-top: 20px;
}

#farite-btn {
  display: list-item;
  width: 100%;
  margin: 20px 0 20px 0;
}

#favorite_btn {
  display: list-item;
  width: 100%;
}


.btn-list {
  list-style: none;
}


/*-----eatate_index-----*/


.collapsing a {
  color: black;
}

.collapsing a:hover {
  color: #ed6103;
}


.page {
  display: inline-block;
  cursor: pointer;
  color: #ed6103;
  font-size: 28px;
}

.page:hover {
  color: #eaa373;
}





